In [109]:
# Import modules
import pandas as pd

from utils import *

from warrant_alert_generator import *

from warrant_aevaleva import *

In [75]:
# read in the filtered selection and display all warrants that satisfy the above filter
df = pd.DataFrame.from_csv('warrants_filtered_selection.csv', index_col=None, )
###==>  df.iloc[:,0:7]
df

,company,symbol,stock,exercise-price,warrant,leverage,expiry-date,price-time-gain
0,Acasta Enterprises Inc,AEF.WT,8.750,11.50,1.200,7.3,03/01/2022,0.02
1,Kew Media Group Inc,KEW.WT,9.850,11.50,1.670,5.9,13/06/2023,0.01
2,Manitok Energy Inc,MEI.WT,0.115,0.18,0.025,4.6,15/11/2021,0.03
3,Osisko Gold Royalties Ltd,OR.WT,14.260,36.50,2.400,5.9,18/02/2022,0.09
4,Titan Medical Inc,TMD.WT.G,0.353,1.00,0.030,11.8,12/02/2021,0.14
5,Titan Medical Inc,TMD.WT.H,0.353,1.20,0.035,10.1,31/03/2021,0.18
6,Titan Medical Inc,TMD.WT.I,0.353,0.75,0.060,5.9,20/09/2021,0.07
7,Trilogy Intl Partners Inc,TRL.WT,9.500,11.50,0.500,19.0,07/02/2022,0.01

In [105]:
df['alert'] = df.apply(lambda row: gen_alert(row['leverage'], row['price-time-gain'], row['warrant']), axis=1)
df

,company,symbol,stock,exercise-price,warrant,leverage,expiry-date,price-time-gain,alert
0,Acasta Enterprises Inc,AEF.WT,8.750,11.50,1.200,7.3,03/01/2022,0.02,0.88
1,Kew Media Group Inc,KEW.WT,9.850,11.50,1.670,5.9,13/06/2023,0.01,0.89
2,Manitok Energy Inc,MEI.WT,0.115,0.18,0.025,4.6,15/11/2021,0.03,0.98
3,Osisko Gold Royalties Ltd,OR.WT,14.260,36.50,2.400,5.9,18/02/2022,0.09,0.79
4,Titan Medical Inc,TMD.WT.G,0.353,1.00,0.030,11.8,12/02/2021,0.14,0.93
5,Titan Medical Inc,TMD.WT.H,0.353,1.20,0.035,10.1,31/03/2021,0.18,0.91
6,Titan Medical Inc,TMD.WT.I,0.353,0.75,0.060,5.9,20/09/2021,0.07,0.95
7,Trilogy Intl Partners Inc,TRL.WT,9.500,11.50,0.500,19.0,07/02/2022,0.01,0.89

In [119]:
df['avg_lvge'] = df.apply(lambda row: gen_avealeva(row['stock'], row['warrant'], row['exercise-price']), axis=1)
df

,company,symbol,stock,exercise-price,warrant,leverage,expiry-date,price-time-gain,alert,avg_lvge
0,Acasta Enterprises Inc,AEF.WT,8.750,11.50,1.200,7.3,03/01/2022,0.02,0.88,4.175893
1,Kew Media Group Inc,KEW.WT,9.850,11.50,1.670,5.9,13/06/2023,0.01,0.89,3.008965
2,Manitok Energy Inc,MEI.WT,0.115,0.18,0.025,4.6,15/11/2021,0.03,0.98,2.360593
3,Osisko Gold Royalties Ltd,OR.WT,14.260,36.50,2.400,5.9,18/02/2022,0.09,0.79,3.094292
4,Titan Medical Inc,TMD.WT.G,0.353,1.00,0.030,11.8,12/02/2021,0.14,0.93,6.317532
5,Titan Medical Inc,TMD.WT.H,0.353,1.20,0.035,10.1,31/03/2021,0.18,0.91,5.282312
6,Titan Medical Inc,TMD.WT.I,0.353,0.75,0.060,5.9,20/09/2021,0.07,0.95,3.109528
7,Trilogy Intl Partners Inc,TRL.WT,9.500,11.50,0.500,19.0,07/02/2022,0.01,0.89,12.775047

In [127]:
#df.style.apply(lambda x: ["background: red" if v > 1 else "" for v in enumerate(x)], axis = 1)
#print(x.iloc[0])

In [135]:
html = df.style.background_gradient(cmap='viridis', low=.8)
html

In [152]:
def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

df.style.apply(highlight_max, subset=['alert', 'avg_lvge'])

In [155]:


from IPython.display import HTML

def hover(hover_color="#ffff99"):
    return dict(selector="tr:hover",
                props=[("background-color", "%s" % hover_color)])

styles = [
    hover(),
    dict(selector="th", props=[("font-size", "100%"),
                               ("text-align", "center")]),
    dict(selector="caption", props=[("caption-side", "bottom")])
]
html = (df.style.set_table_styles(styles)
          .set_caption("Hover to highlight."))
html

In [166]:
def color_negative_red(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    """
    color = 'red' if val < 0 else 'black'
    return 'color: %s' % color

df.style.applymap(color_negative_red, subset=['alert', 'avg_lvge'])
df

,company,symbol,stock,exercise-price,warrant,leverage,expiry-date,price-time-gain,alert,avg_lvge
0,Acasta Enterprises Inc,AEF.WT,8.750,11.50,1.200,7.3,03/01/2022,0.02,0.88,4.175893
1,Kew Media Group Inc,KEW.WT,9.850,11.50,1.670,5.9,13/06/2023,0.01,0.89,3.008965
2,Manitok Energy Inc,MEI.WT,0.115,0.18,0.025,4.6,15/11/2021,0.03,0.98,2.360593
3,Osisko Gold Royalties Ltd,OR.WT,14.260,36.50,2.400,5.9,18/02/2022,0.09,0.79,3.094292
4,Titan Medical Inc,TMD.WT.G,0.353,1.00,0.030,11.8,12/02/2021,0.14,0.93,6.317532
5,Titan Medical Inc,TMD.WT.H,0.353,1.20,0.035,10.1,31/03/2021,0.18,0.91,5.282312
6,Titan Medical Inc,TMD.WT.I,0.353,0.75,0.060,5.9,20/09/2021,0.07,0.95,3.109528
7,Trilogy Intl Partners Inc,TRL.WT,9.500,11.50,0.500,19.0,07/02/2022,0.01,0.89,12.775047