In [217]:
## Descriptive statistics
# - min, max, sum, quantiles

## Measures of central tendency
# - mean, median, mode, root_mean_square, skewness, kurtosis
# - RMS - the square root of the sum of the squares of values in a list divided by the length of the list.
#         we want is the size of the numbers without regard for positive or negative.

## Measures of dispersion
# - variance, standard deviation, interquartile range (0.75-0.25)

## Similarity
# - correlation, covariance
# - corr, the extent to which two variables have a linear relationship with each other”
# - cov,  a measure of how two random variables vary together

In [218]:
# Import modules
import pandas as pd

import seaborn as sns

import root_mean_square

In [219]:
# read in and display sample records and disable indexing the 1st column
df = pd.DataFrame.from_csv('warrants_market_data_2017.06.01.csv', index_col=None)

# new header columns
df.columns = ['company','stock','symbol','exercise-price','warrant','leverage','yrs2expiry','expiry-date',
              'currency','day2expiry', 'int-val','%-til-xrs','price-time-gain']


# how many warrants are in?
###==>
print ('Reading in ' + str(df.shape[0]) + ' warrants across ' + str(df.shape[1]) + ' columns')

Reading in 63 warrants across 13 columns

In [220]:
# print out a sampler of warrants and some of their attributes
  
#df.iloc[:6,:8]

###==>
#df.head()

# 8 random rows
df.sample(8)

,company,stock,symbol,exercise-price,warrant,leverage,yrs2expiry,expiry-date,currency,day2expiry,int-val,%-til-xrs,price-time-gain
55,Titan Medical Inc,0.353,TMD.WT.G,1.00,0.030,11.8,3.7,12/02/2021,CDN,1324,0.65,1.84,0.14
54,Titan Medical Inc,0.353,TMD.WT.F,1.60,0.020,17.6,3.5,16/11/2020,CDN,1236,1.25,3.54,0.29
58,Trek Mining Inc,1.130,TREK.WT,3.00,0.340,3.3,4.3,06/10/2021,CDN,1560,1.87,1.65,0.11
21,Golden Queen Mng Co Ltd,0.790,GQM.WT,2.00,0.140,5.6,2.1,25/07/2019,CDN,756,1.21,1.53,0.20
57,Titan Medical Inc,0.353,TMD.WT.I,0.75,0.060,5.9,4.3,20/09/2021,CDN,1544,0.40,1.13,0.07
41,Osisko Mining Inc,4.800,OSK.WT,3.00,1.900,2.5,1.2,25/08/2018,CDN,422,-1.80,0.00,0.00
56,Titan Medical Inc,0.353,TMD.WT.H,1.20,0.035,10.1,3.8,31/03/2021,CDN,1371,0.85,2.41,0.18
35,NYX Gaming Group Ltd,1.080,NYX.WT,5.00,0.090,12.0,1.1,16/07/2018,CDN,382,3.92,3.63,0.95

In [221]:
# summary stats for each column

df.describe()

,stock,exercise-price,warrant,leverage,yrs2expiry,day2expiry,int-val,%-til-xrs,price-time-gain
count,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000
mean,2.437460,4.689333,0.561746,6.866667,2.688889,955.539683,2.252222,8.823810,0.616984
std,3.514907,9.032706,0.726184,8.315202,1.488571,541.712959,7.776854,58.979112,3.011696
min,0.005000,0.000000,0.005000,0.100000,0.600000,208.000000,-4.180000,0.000000,0.000000
25%,0.317500,0.500000,0.060000,2.600000,1.600000,553.500000,-0.080000,0.000000,0.000000
50%,0.790000,1.250000,0.220000,3.900000,2.100000,756.000000,0.270000,0.320000,0.040000
75%,2.115000,3.675000,0.830000,7.350000,4.000000,1431.000000,1.040000,1.480000,0.145000
max,14.260000,48.750000,2.760000,51.900000,6.300000,2269.000000,47.320000,468.330000,23.420000

In [222]:
# split data by currency CDN/USD
by_currency = df.groupby('currency')

In [223]:

#by_currency.describe()

#by_currency.describe().transpose()

#by_currency['stock','warrant','exercise-price','leverage'].describe()

by_currency['stock','warrant','exercise-price','leverage'].mean()
by_currency['stock','warrant','exercise-price','leverage'].median()
by_currency['stock','warrant','exercise-price','leverage'].max()

#by_currency['stock','warrant','exercise-price','leverage'].agg(sum) #len

by_currency['company'].apply(max)

by_currency['stock','warrant','exercise-price','leverage'].mean()

             stock   warrant  exercise-price  leverage
currency
CDN       2.242586  0.490517        4.715138  6.989655
USD       4.698000  1.388000        4.390000  5.440000

In [224]:
# select everything between columns 'company' and 'leverage', inclusive - the first six records only
df.loc[:,'company':'leverage'].head(6)

                   company  stock    symbol  exercise-price  warrant  leverage
0   Acasta Enterprises Inc   8.75    AEF.WT           11.50    1.200       7.3
1          Alamos Gold Inc   9.09    AGI.WT           28.47    0.175      51.9
2          Alamos Gold Inc   9.09  AGI.WT.A           10.00    2.260       4.0
3            Alio Gold Inc   6.24    ALO.WT            7.00    1.950       3.2
4  Ascendant Resources Inc   0.72   ASND.WT            1.25    0.200       3.6
5       Atlantic Gold Corp   1.45    AGB.WT            0.60    0.900       1.6

In [225]:
# select only those rows that meet the condition
df.loc[df['yrs2expiry'] >= 5.0]

,company,stock,symbol,exercise-price,warrant,leverage,yrs2expiry,expiry-date,currency,day2expiry,int-val,%-til-xrs,price-time-gain
28,Kew Media Group Inc,9.85,KEW.WT,11.50,1.67,5.9,6.0,13/06/2023,CDN,2175,1.65,0.17,0.01
29,Kingsway Finl Svcs Inc,8.35,KFS.WT.V,5.00,2.49,3.4,6.3,15/09/2023,USD,2269,-3.35,0.00,0.00
62,Yellow Media Inc,0.06,Y.WT,28.16,0.69,0.1,5.6,20/12/2022,CDN,2000,28.10,468.33,23.42

In [226]:
# select only those rows where a company starts with R or A
# using regex

df[df['symbol'].str.contains('(^R|^A)', regex=True)]

/home/ithilien/anaconda3/envs/cuda-shop/lib/python3.6/site-packages/ipykernel/__main__.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

,company,stock,symbol,exercise-price,warrant,leverage,yrs2expiry,expiry-date,currency,day2expiry,int-val,%-til-xrs,price-time-gain
0,Acasta Enterprises Inc,8.750,AEF.WT,11.50,1.200,7.3,4.6,03/01/2022,CDN,1649,2.75,0.31,0.02
1,Alamos Gold Inc,9.090,AGI.WT,28.47,0.175,51.9,1.2,30/08/2018,CDN,427,19.38,2.13,0.50
2,Alamos Gold Inc,9.090,AGI.WT.A,10.00,2.260,4.0,1.6,07/01/2019,CDN,557,0.91,0.10,0.02
3,Alio Gold Inc,6.240,ALO.WT,7.00,1.950,3.2,1.0,30/05/2018,CDN,335,0.76,0.12,0.04
4,Ascendant Resources Inc,0.720,ASND.WT,1.25,0.200,3.6,4.8,07/03/2022,CDN,1712,0.53,0.74,0.04
5,Atlantic Gold Corp,1.450,AGB.WT,0.60,0.900,1.6,1.2,20/08/2018,CDN,417,-0.85,0.00,0.00
6,Avino Slvr & Gold Mns Ltd,2.000,ASM.WT,2.00,0.370,5.4,2.5,28/11/2019,USD,882,0.00,0.00,0.00
44,Rainy Mountain Rty Corp,0.160,RMO.WT,0.15,0.060,2.7,0.7,01/03/2018,CDN,245,-0.01,0.00,0.00
45,Renaissance Oil Corp,0.235,ROE.WT,0.50,0.075,3.1,2.2,31/07/2019,CDN,762,0.27,1.15,0.15
46,Renaissance Oil Corp,0.235,ROE.WT.A,0.20,0.060,3.9,3.3,06/10/2020,CDN,1195,-0.03,0.00,0.00
47,Royalty North Ptnrs Ltd,0.150,RNP.WT,0.25,0.055,2.7,4.3,01/09/2021,CDN,1525,0.10,0.67,0.04

In [227]:
# custom defined quantiles
# i.e. exercise-price, Given the probability 0.25, 0.485 is the value below which you can find 25% of the values 
# after the data is sorted.

by_currency['stock','warrant','exercise-price','leverage'].quantile([0.25,0.50, 0.90])

                 stock  warrant  exercise-price  leverage
currency
CDN      0.25  0.24875  0.05625           0.485      2.70
         0.50  0.69500  0.19000           1.100      3.95
         0.90  8.85200  1.60000          11.500     16.97
USD      0.25  2.11000  0.45000           2.450      2.40
         0.50  4.58000  0.87000           4.000      3.40
         0.90  7.59000  2.65200           7.100     10.74

In [228]:
#df['company'].mode()

#len(df)

# list unique values and their count
#df['expiry-date'].value_counts()

# no of uniqe values in column
#df['expiry-date'].nunique()

# count non-null values in each column
df.count()

by_currency.count()

,company,stock,symbol,exercise-price,warrant,leverage,yrs2expiry,expiry-date,day2expiry,int-val,%-til-xrs,price-time-gain
currency,,,,,,,,,,,,
CDN,58,58,58,58,58,58,58,58,58,58,58,58
USD,5,5,5,5,5,5,5,5,5,5,5,5

In [229]:
# matrix of correlation with highlights
# the extent to which two variables have a linear relationship with each other”

df_1 = df.corr()

# using seaborn

cm = sns.light_palette("purple", as_cmap=True)

#show_result = df_1.style.background_gradient(cmap=cm, axis=0, subset=['stock', 'warrant'])

show_result = df_1.style.background_gradient(cmap=cm)
###==>
show_result

In [230]:
# whereis the bulk of the data? how symmetric is it? 
# if -1 < skew > 1 then it's significant 
# In skewed distributions, the mean tends to get pulled in the direction of the skew, 
# while the median tends to resist the effects of skew
#df.skew()

# how closely does the data match the Gaussian/Normal distribution
# Gaussian/Normal Distribution has kurtosis of 0
df.kurt()

stock               3.009234
exercise-price     11.386920
warrant             1.440454
leverage           14.214464
yrs2expiry         -0.802177
day2expiry         -0.801315
int-val            20.278370
%-til-xrs          62.316763
price-time-gain    55.348346
dtype: float64

In [231]:
# Create variable with TRUE if 06-leverage is greater than 4

leverage = df['leverage'] >= 4.0

# Create variable with TRUE if 07-yrs_to_expiry is greater than 3.5 years
years_left = df['yrs2expiry'] > 3.5

# Create variable with TRUE if 02-stk_close is lesser than 04-exercise_price; warrant is out of/at the money
warrant_not_out_of_money = df['stock'] < df['exercise-price']

# Select all warrants that meet each condition above
fw = df[leverage & years_left & warrant_not_out_of_money]

#filtered warrants that meet criteria derived from the works of Sidney Fried
###==>  
fw

,company,stock,symbol,exercise-price,warrant,leverage,yrs2expiry,expiry-date,currency,day2expiry,int-val,%-til-xrs,price-time-gain
0,Acasta Enterprises Inc,8.750,AEF.WT,11.50,1.200,7.3,4.6,03/01/2022,CDN,1649,2.75,0.31,0.02
28,Kew Media Group Inc,9.850,KEW.WT,11.50,1.670,5.9,6.0,13/06/2023,CDN,2175,1.65,0.17,0.01
33,Manitok Energy Inc,0.115,MEI.WT,0.18,0.025,4.6,4.5,15/11/2021,CDN,1600,0.06,0.52,0.03
39,Osisko Gold Royalties Ltd,14.260,OR.WT,36.50,2.400,5.9,4.7,18/02/2022,CDN,1695,22.24,1.56,0.09
55,Titan Medical Inc,0.353,TMD.WT.G,1.00,0.030,11.8,3.7,12/02/2021,CDN,1324,0.65,1.84,0.14
56,Titan Medical Inc,0.353,TMD.WT.H,1.20,0.035,10.1,3.8,31/03/2021,CDN,1371,0.85,2.41,0.18
57,Titan Medical Inc,0.353,TMD.WT.I,0.75,0.060,5.9,4.3,20/09/2021,CDN,1544,0.40,1.13,0.07
59,Trilogy Intl Partners Inc,9.500,TRL.WT,11.50,0.500,19.0,4.7,07/02/2022,CDN,1684,2.00,0.21,0.01

In [232]:
# save warrants that meet the selection condition to local file + only essential columns

# choose columns of interest
cols_wanted = ['company','symbol','stock','exercise-price','warrant','leverage','expiry-date','price-time-gain']

# push out another file for futher analysis
fw[cols_wanted].to_csv('warrants_filtered_selection.csv', index=False)

In [233]:
# https://chrisalbon.com/python/pandas_apply_operations_to_groups.html
# create a RMS function, apply it, etc....

def get_stats(group):
    return {'min': group.min(), 'max': group.max(), 'count': group.count(), 'mean': group.mean(), 'rms': root_mean_square.gen_rms(group.values.tolist())}

In [234]:
# create bins
bins = [0.20, 0.50, 1.00, 2.5, 100]
group_names = ['Low', 'Okay', 'Good', 'Great']
df['categories'] = pd.cut(df['warrant'], bins, labels=group_names)

In [235]:
df['warrant'].groupby(df['categories']).apply(get_stats).unstack()

0.37 0.22 0.45 0.4 0.45 0.225 0.3 0.35 0.37 0.34 0.5 0.225
0.9 0.79 0.73 0.87 0.96 0.55 0.91 0.69
1.2 2.26 1.95 1.1 1.67 2.49 1.57 1.49 2.4 1.81 1.9
2.76

           count   max     mean   min   rms
categories
Low           12   0.5     0.35  0.22  0.36
Okay           8  0.96      0.8  0.55  0.81
Good          11  2.49  1.80364   1.1  1.86
Great          1  2.76     2.76  2.76  2.76

In [202]:
#df.reset_index()[['warrant']].values.tolist()
ls = df['warrant'].values.tolist()

In [216]:
root_mean_square.gen_rms(ls)

1.2 0.175 2.26 1.95 0.2 0.9 0.37 0.22 0.08 0.045 0.01 0.16 0.45 0.79 0.73 0.87 0.01 0.4 0.45 0.025 0.035 0.14 0.96 0.225 0.55 1.1 0.3 0.005 1.67 2.49 0.2 0.085 0.91 0.025 0.18 0.09 0.35 1.57 1.49 2.4 1.81 1.9 0.075 0.03 0.06 0.075 0.06 0.055 2.76 0.37 0.07 0.095 0.005 0.04 0.02 0.03 0.035 0.06 0.34 0.5 0.225 0.015 0.69

'0.91'